<h2>Login</h2>
<p>{{message}}</p>
<p>
  <button class="btn btn-primary" (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button class="btn btn-secondary" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>
