<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class='row'>
    <div class="form-group col-sm-2 mb-2">
      <label for="first-name">Name: </label>
      <input class="form-control" id="name" type="text" formControlName="name">
    </div>
  </div>
  <div class="form-group col-sm-2 mb-2">
    <label for="last-name">Gender: </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" [value]="true" formControlName="gender">
      <label class="form-check-label" for="gender">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" [value]="false" formControlName="gender">
      <label class="form-check-label" for="gender">
        Female
      </label>
    </div>
  </div>

  <h3>Addresses:</h3>
  <ng-container formArrayName="addresses">
    <div *ngFor="let address of addresses.controls; index as i">
      <ng-container [formGroupName]="i">
        <label>Address {{i + 1}}</label> <button class='btn btn-sm btn-outline-danger m-1' (click)="removeAddress(i)">remove</button>
        <div class='row'>
          <div class="form-group col-sm-2 mb-2">
            <label for="country">Country: </label>
            <input class="form-control" type="text" formControlName="country">
          </div>
          <div class="form-group col-sm-2 mb-2">
            <label for="city">City: </label>
            <input class="form-control" type="text" formControlName="city">
          </div>
        </div>
        <div class='row'>
          <div class="form-group col-sm-2 mb-2">
            <label for="street">Street: </label>
            <input class="form-control" type="text" formControlName="street">
          </div>
          <div class="form-group col-sm-2 mb-2">
            <label for="post">Post Code: </label>
            <input class="form-control" type="text" formControlName="post">
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <button class="btn btn-outline-primary" [disabled]="!isUserInfoValid()" (click)="addAddress()">add address</button>
  <button type="submit" class="btn btn-primary m-1" [disabled]="!userForm.valid">Submit</button>
</form>
