<div class="card m-2" style="width: 18rem;">
    <img src="assets/img/{{user.id}}.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text" [ngClass]="user.gender ? 'text-primary': 'text-danger'">{{user.gender | gender}}</p>
        <p class="card-text" [ngClass]="user.activated ? 'text-success': 'text-muted'">{{user.activated | activated}}</p>
        <p class="card-text">{{user.age}} y.o.</p>
        <p class="card-text"><strong>Address:</strong> {{user.address.country}}, {{user.address.city}},
            {{user.address.street}}, {{user.address.post}}</p>
    </div>
</div>
