<div class="row mt-2">

    <div class="col-sm-3" *ngFor="let user of users">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text" [ngClass]="user.gender ? 'text-primary': 'text-danger'">{{user.gender | gender}}
                </p>
                <button type="button" class="btn btn-outline-dark btn-sm m-1" (click)="onChangeGender(user)">Change gender</button>
                <app-button [style]="getButtonStyle(user)" [label]="getButtonLabel(user)" (click)="onChangeActivation(user)"></app-button>
                <br><button type="button" class="btn btn-primary btn-sm m-1" (click)="onEdit(user)">Edit</button>
                <button type="button" class="btn btn-light btn-sm" (click)="onDetails(user)">Details</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-warning mt-2" (click)="onHideBoys()">Feminism</button>
